mysample/src/main/mule/mysample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="670f6cfb-a5c3-4863-9113-e2ce73f7d702" >
		<http:listener-connection host="localhost" port="9090" />
	</http:listener-config>
	<flow name="mysampleFlow" doc:id="75e993dc-831a-4a42-8a31-f3b127d734ea" >
		<http:listener doc:name="Listener" doc:id="2364b270-ac2c-4348-8283-50cde7d04369" config-ref="HTTP_Listener_config" path="/yes"/>
		<set-payload value="#['hello teku two']" doc:name="Set Payload" doc:id="129abb87-79b2-4559-ba43-d11158850cd6" />
	</flow>
</mule>
